!!!
%html{:lang => "hu"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= current_page.data.title || data.site.title
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

    /[if lte IE 8]
      = javascript_include_tag 'html5shiv'

    = stylesheet_link_tag :main

    /[if lte IE 9]
      = stylesheet_link_tag 'ie9'
    /[if lte IE 8]
      = stylesheet_link_tag 'ie8'
  %body
    / Wrapper
    #wrapper

      / Header
      %header#header
        .inner
          / Logo
          %a.logo{:href => "/"}
            %span.title= data.site.logotitle
          / Nav
          %nav
            %ul
              %li
                %a{:href => "#menu"} Menu

      / Menu
      %nav#menu
        %h4
          %a{:href => "#{data.site.url}"}= data.site.urltext
        %ul
          %li
            %a{:href => "/"} Kezdőlap
          %li
            %a{:href => "/kapcsolat"} Kapcsolat
          - sitemap.resources.select{|page| page.data.tags && page.data.tags.include?('page')}.sort_by{|n| n.data.sort_weight || 100}.each do |page|
            %li
              %a{:href => "#{page.url}"}= page.data.title

      / Main
      #main
        .inner
          = yield

      / Footer
      %footer#footer
        .inner
          %section
            %h2{:style => "text-decoration: underline;"} Kapcsolat
            %div{:itemscope => "", :itemtype => "http://schema.org/LocalBusiness"}
              %h2{:itemprop => "name"}
                = data.contact.name
              %h3{:itemprop => "address"}
                = data.contact.address
              %a.button.special.icon.fa-phone{:itemprop => "telephone", :href => "tel:#{data.contact.phone_href}"}
                = data.contact.phone_text
              %br
              %a.button.icon.fa-envelope{:itemprop => "email", :href => "mailto:#{data.contact.email}"}
                = data.contact.email
          %ul.copyright
            %li
              = "© #{data.site.logotitle} - Minden jog fenntartva."
            %li
              Design:
              %a{:href => "http://html5up.net"} HTML5 UP

    = javascript_include_tag 'jquery.min.js'
    = javascript_include_tag 'skel.min.js'
    = javascript_include_tag 'util.js'
    = javascript_include_tag 'perfundo.min.js'
    :javascript
      var myLightbox = new perfundo('.perfundo');
    /[if lte IE 8]
      = javascript_include_tag 'respond.min.js'
    = javascript_include_tag 'main'
