%header
  %div.row
    %div.1u
      %img{:src => "/images/oszlop_w75.jpg", width: 75}/
    %div.11u
      %h1 Asztalos és esztergált faipari termékek nagy darabszámú sorozatgyártása
      %p Cégünk foglalkozási területei:
      .row
        %div{class: "12u(medium) 6u"}
          %ul
            %li Nagy darabszámú faesztergályos termékek gyártása
            %li Antik hangulatú három bekezdésű áttört csavartoszlop, bármely egyedi megoldással
        %div{class: "12u(medium) 6u"}
          %ul
            %li Fagolyók, tégelyek, fűszeres kanalak, gombok
            %li Egyedi asztallábak, bútorlábak, lépcső- és korlátoszlopok
            %li Fából készült apró faipari termékek, alkatrészek sorozatgyártása
            %li Asztali lámpák, álló lámpák tervezése és kivitelezése
            %li Egyedi tervezésű belső lépcsők kivitelezése
            %li Lakásbelsők, galériák a megrendelő elképzelése alapján

%section
  %h3 Árajánlat | Információ
  = partial "contact", :locals => { :hide_name => true, :hide_address => true }

%section.tiles
  - sitemap.resources.select{|page| page.data.tags && page.data.tags.include?('page')}.sort_by{|n| n.data.sort_weight || 100}.each do |page|
    %article.style1
      %span.image
        %img{:alt => "#{page.data.thumbnail_alt_text}", :src => "#{page.data.thumbnail}"}/
      %a{:href => "#{page.url}"}
        %h2= page.data.title
        .content
          %p= page.data.summary
