---
title: Kapcsolat
---

%h1 Kapcsolat

%div{:itemscope => "", :itemtype => "http://schema.org/LocalBusiness"}
  %h2{:itemprop => "name"}
    = data.contact.name
  %h3{:itemprop => "address"}
    = data.contact.address
  %a.button.special.icon.fa-phone{:itemprop => "telephone", :href => "tel:#{data.contact.phone_href}"}
    = data.contact.phone_text
  %br
  %a.button.icon.fa-envelope{:itemprop => "email", :href => "mailto:#{data.contact.email}"}
    = data.contact.email
